ViaggioWebClient/xml-resources/web-service-references/ViaggioEJB/wsdl/localhost_8080/ViaggioEJBService/ViaggioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://viaggio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://viaggio/" name="ViaggioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://viaggio/" schemaLocation="http://localhost:8080/ViaggioEJBService/ViaggioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="rimuoviViaggio">
<part name="parameters" element="tns:rimuoviViaggio"/>
</message>
<message name="rimuoviViaggioResponse">
<part name="parameters" element="tns:rimuoviViaggioResponse"/>
</message>
<message name="aggiungiViaggio">
<part name="parameters" element="tns:aggiungiViaggio"/>
</message>
<message name="aggiungiViaggioResponse">
<part name="parameters" element="tns:aggiungiViaggioResponse"/>
</message>
<message name="trovaData">
<part name="parameters" element="tns:trovaData"/>
</message>
<message name="trovaDataResponse">
<part name="parameters" element="tns:trovaDataResponse"/>
</message>
<message name="aggiornaViaggio">
<part name="parameters" element="tns:aggiornaViaggio"/>
</message>
<message name="aggiornaViaggioResponse">
<part name="parameters" element="tns:aggiornaViaggioResponse"/>
</message>
<message name="trovaLiberi">
<part name="parameters" element="tns:trovaLiberi"/>
</message>
<message name="trovaLiberiResponse">
<part name="parameters" element="tns:trovaLiberiResponse"/>
</message>
<message name="trovaId">
<part name="parameters" element="tns:trovaId"/>
</message>
<message name="trovaIdResponse">
<part name="parameters" element="tns:trovaIdResponse"/>
</message>
<message name="trovaNDisponibili">
<part name="parameters" element="tns:trovaNDisponibili"/>
</message>
<message name="trovaNDisponibiliResponse">
<part name="parameters" element="tns:trovaNDisponibiliResponse"/>
</message>
<message name="trovaDestinazione">
<part name="parameters" element="tns:trovaDestinazione"/>
</message>
<message name="trovaDestinazioneResponse">
<part name="parameters" element="tns:trovaDestinazioneResponse"/>
</message>
<portType name="ViaggioEJB">
<operation name="rimuoviViaggio">
<input wsam:Action="http://viaggio/ViaggioEJB/rimuoviViaggioRequest" message="tns:rimuoviViaggio"/>
<output wsam:Action="http://viaggio/ViaggioEJB/rimuoviViaggioResponse" message="tns:rimuoviViaggioResponse"/>
</operation>
<operation name="aggiungiViaggio">
<input wsam:Action="http://viaggio/ViaggioEJB/aggiungiViaggioRequest" message="tns:aggiungiViaggio"/>
<output wsam:Action="http://viaggio/ViaggioEJB/aggiungiViaggioResponse" message="tns:aggiungiViaggioResponse"/>
</operation>
<operation name="trovaData">
<input wsam:Action="http://viaggio/ViaggioEJB/trovaDataRequest" message="tns:trovaData"/>
<output wsam:Action="http://viaggio/ViaggioEJB/trovaDataResponse" message="tns:trovaDataResponse"/>
</operation>
<operation name="aggiornaViaggio">
<input wsam:Action="http://viaggio/ViaggioEJB/aggiornaViaggioRequest" message="tns:aggiornaViaggio"/>
<output wsam:Action="http://viaggio/ViaggioEJB/aggiornaViaggioResponse" message="tns:aggiornaViaggioResponse"/>
</operation>
<operation name="trovaLiberi">
<input wsam:Action="http://viaggio/ViaggioEJB/trovaLiberiRequest" message="tns:trovaLiberi"/>
<output wsam:Action="http://viaggio/ViaggioEJB/trovaLiberiResponse" message="tns:trovaLiberiResponse"/>
</operation>
<operation name="trovaId">
<input wsam:Action="http://viaggio/ViaggioEJB/trovaIdRequest" message="tns:trovaId"/>
<output wsam:Action="http://viaggio/ViaggioEJB/trovaIdResponse" message="tns:trovaIdResponse"/>
</operation>
<operation name="trovaNDisponibili">
<input wsam:Action="http://viaggio/ViaggioEJB/trovaNDisponibiliRequest" message="tns:trovaNDisponibili"/>
<output wsam:Action="http://viaggio/ViaggioEJB/trovaNDisponibiliResponse" message="tns:trovaNDisponibiliResponse"/>
</operation>
<operation name="trovaDestinazione">
<input wsam:Action="http://viaggio/ViaggioEJB/trovaDestinazioneRequest" message="tns:trovaDestinazione"/>
<output wsam:Action="http://viaggio/ViaggioEJB/trovaDestinazioneResponse" message="tns:trovaDestinazioneResponse"/>
</operation>
</portType>
<binding name="ViaggioEJBPortBinding" type="tns:ViaggioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="rimuoviViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiornaViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaLiberi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaNDisponibili">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="trovaDestinazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ViaggioEJBService">
<port name="ViaggioEJBPort" binding="tns:ViaggioEJBPortBinding">
<soap:address location="http://localhost:8080/ViaggioEJBService/ViaggioEJB"/>
</port>
</service>
</definitions>